body {
    font-family: 'Roboto';
    color: #cfcdca;
    height: 100vh;
    width:100%;
    /* background-color: black; */
}

.header-section {
    display: flex;
    width:100%;
    justify-content: space-between;
    margin-bottom: 10%;
    padding-top: 10px
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-right: 2%;
    margin-top: auto;
    font-size: 40px;
    margin: auto 2%;
}

.header-buttons div {
    background-color: #ab7f05;
    padding: 0 5px;
    border-radius: 5%;
}

.header-logo {
    margin-left: 20%;
    font-size: 50px;
    background-color: #ab7f05;
    padding: 0 5px;
    border-radius: 5%;
    margin-top: auto;
}

.menu-text {
    text-align: center;
    background-color: #ab7f05;
    font-size: 40px;
    border-bottom: 5px solid black;
}

.menu-subtexts {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    background-color: #ab7f05;
}

.menu-subtext {border: 1px solid black;}

#subtext-one {
    margin-left: 20%;
    margin-top: 0.2%;
}

#subtext-two { 
    margin-left: -8.5%;
    margin-top: 0.2%;
}

#subtext-three {
    margin-right: 10%; 
    margin-top: 0.2%;
}

.drinks-section, .pizza-section, .desserts-section {
    background-color: #ab7f05;
    width: 30%;
}

.drinks-section {
    margin-left: 7%; 
    margin-top: 1%;
    border-left: 5px solid black;
}

.pizza-section {
    margin-top: 1%;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.desserts-section {
    margin-right: 1%;
    margin-top: 1%;
    border-right: 5px solid black;
}

.drink, .pizza, .dessert {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
}

.food-section {
    display: flex;
    justify-content: space-between;
    background-color: #ab7f05;
    height: 33vh;
}