body {
    font-family: 'Roboto';
    height: 100vh;
    width:100%;
}

.header-section {
    display: flex;
    width:100%;
    justify-content: space-between;
    margin-bottom: 10%;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-right: 2%;
    font-size: 40px;
    margin: auto 2%;
}

.header-buttons div {
    background-color: #ab7f05;
    padding: 0 5px;
    border-radius: 5%;
}

.header-logo {
    margin-left: 20%;
    font-size: 50px;
}

.menu-text {
    text-align: center;
    background-color: grey;
    
}