body {
    font-family: 'Roboto';
    color: #cfcdca;
    height: 100vh;
    width:100%;
    /* background-color: black; */
}

.header-section {
    display: flex;
    width:100%;
    justify-content: space-between;
    margin-bottom: 10%;
    padding-top: 10px
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-right: 2%;
    margin-top: auto;
    font-size: 40px;
    margin: auto 2%;
}

.header-buttons div {
    background-color: #ab7f05;
    padding: 0 5px;
    border-radius: 5%;
}

.header-logo {
    margin-left: 20%;
    font-size: 50px;
    background-color: #ab7f05;
    padding: 0 5px;
    border-radius: 5%;
    margin-top: auto;
}

.menu-text {
    text-align: center;
    background-color: #ab7f05;
    font-size: 40px;
    border-bottom: 5px solid black;
}

.menu-subtexts {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    background-color: #ab7f05;
}

.menu-subtext {border: 1px solid black;}

#subtext-one {padding-left: 50px;}

#subtext-two {padding-left: 50px}

#subtext-three {padding-right: 50px;}

.drinks-section {
    background-color: #ab7f05;
}